<div class="soloist-page-shortcut" style="background-image: url({{ image }});">
    <div class="shortcut-inner">
        <h3>{{ page.title }}</h3>
        <p>{{ description }}</p>
        <a href="{{ soloist_path(page) }}">Lire la suite</a>
    </div>
</div>
